.flexbox {
  display: flexbox;
}
/*pages plugin css*/
html,
body {
  padding: 0!important;
  margin: 0!important;
}
div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*[data-icon]:before {
  content: attr(data-icon);
  font-family: 'pictos';
  margin-right: 5px;
}
.pictos {
  font-family: pictos;
}
#wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#header {
  color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  margin-left: 0px;
  margin-right: 0px;
  position: fixed;
}
#header .container {
  width: 100%;
}
#header .navbar-inner {
  border-radius: 0;
}
#header .brand {
  color: whiteSmoke;
  text-shadow: 0px 1px black;
  font-weight: bold;
  margin-left: 0px;
}
/*boostrap overrides*/
#content-container {
  padding: 0;
  margin: 0;
  min-width: 100%;
  position: absolute;
  bottom: 0px;
  top: 40px;
  overflow: hidden;
}
#menu {
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: 0;
  list-style: none;
  font-weight: bold;
  padding: 20px;
  box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.5), inset 3px 3px 10px rgba(0, 0, 0, 0.5), 1px 0 1px rgba(255, 255, 255, 0.3);
}
#menu li {
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  padding: 10px 0;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  /*border-top:solid 1px black;
  		border-bottom:solid 1px rgba(255,255,255,.1);*/

}
#menu li span.pictos {
  display: block;
  font-size: 24px;
}
#menu li p {
  font-size: 12px;
}
#menu li:last-child {
  border-bottom: none;
}
#menu li.highlighted {
  color: #31CEF9;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
}
#content {
  position: absolute;
  top: 0px;
  left: 97px;
  right: 0px;
  bottom: 0px;
}
.page {
  background: white;
  position: absolute;
  top: 0px;
  border: none;
  height: 100%;
  width: 50%;
  /*  -webkit-perspective: 1000;*/

  -webkit-backface-visibility: hidden;
}
.page div.page-content {
  overflow-x: hidden;
  height: 100%;
}
.page div.page-content > div.padded {
  padding: 20px;
}
.page.expanded {
  width: 100%;
}
.page > .page {
  border-left: 1px solid grey;
  width: 100%;
}
.page > .page.sliding {
  border-left: 1px solid grey !important;
}
.page > .page.closed {
  border-left: none;
  box-shadow: none;
}
.page table {
  margin-bottom: 0px;
}
.page table  + table {
  border-top: 1px dashed rgba(0, 0, 0, 0.5);
}
.page .tab-content.scroller {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 20px;
  right: 0px;
}
@media (min-width: 979px) {
  #menu {
    min-width: 95px;
  }
}
@media (max-width: 767px) {
  #header .brand {
    text-align: center;
  }
  .page {
    width: 100%;
  }
}
@media (max-width: 979px) {
  .navbar .btn-navbar {
    float: left;
  }
  #content-container {
    top: 50px;
  }
  #menu {
    display: none;
    padding: 10px 0px;
  }
  #menu li {
    padding: 10px 20px;
    text-align: left;
    font-size: 18px;
  }
  #menu li:first-child {
    padding-top: 0px;
  }
  #menu li span.pictos {
    width: 30px;
    display: inline-block;
  }
  #menu.open {
    display: block;
  }
  #content {
    left: 0px;
  }
}
html.no-touch [data-page]:hover td,
html.no-touch [data-page]:hover th {
  background-color: #FDF6E3 !important;
  cursor: pointer;
}
html.no-touch body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
html.no-touch div.page > div.page-content::-webkit-scrollbar,
html.no-touch div.page .scroller::-webkit-scrollbar {
  width: 8px;
  height: 100%;
}
html.no-touch div.page > div.page-content::-webkit-scrollbar-thumb,
html.no-touch div.page .scroller::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
